/* ABOUT ME PHOTO */
.aboutme__photo {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
}

/* TITLE */
.title {
    font-size: 2.8rem;
    padding: 0 2.5%;
}

/* TEXT */
.text {
    font-size: 2rem;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ICON STYLE */
.icon {
    color: aliceblue;
}

/* SECTION TEXT */
.section-text {
    width: 100%;
    padding: 0 5%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

/* TEXT TITLE */
.text__title {
    font-size: 2.4rem;
    font-weight: bold;
}

/* LIST ITEMS IN SECTION TEXT */
.section-text li {
    margin-left: 5%;
}

/* .aboutme__photo{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
}

.title{
    font-size: 2.8rem;
    padding: 0 2.5%;
}

.text{
    font-size: 2rem;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.icon{
    color: aliceblue;
}

.section-text{
    width: 100%;
    padding: 0 5%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.text__title{
    font-size: 2.4rem;
    font-weight: bold;
}

.section-text li{
    margin-left: 5%;
} */
