/* Imagen del logo */
.logo__image {
  width: fit-content;
  height: 90%;
}

/* Texto del logo */
.logo__text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  text-align: center;
  margin: 0;
}