/* @import './vars'; */

.main-education-container{
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-background-container);
    padding: 5rem 1rem;
}

.education-cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5rem auto;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}







.education-code-container{
    width: 100%;
    display: flex;
    margin: 2.5rem auto;
    gap: 2rem;
    justify-content: space-around;
    border: solid 2px var(--color-line);
    padding: 2rem;
    border-radius: 25px;
    flex-wrap: wrap;
}

.education-code-container article{
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education-code-logo{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem auto;
}

.education-code-name{
    font-size: 1.2rem;
    text-align: center;
}