.navbar{
    min-width: 32rem;
    max-width: 110rem;
    /* width: 100%; */
    display: flex;
    font-size: 2.4rem;
    position: absolute;
    justify-content: flex-end;
    right: 0;
}

.navbar__icon,
.navbar__icon--lock{
    display: none;
}

.navbar__list--desktop{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

.navbar__list--desktop div{
    display: flex;
    justify-content: flex-end;
    padding: auto;
    align-items: center;
}

.navbar a:hover{
    background-color: var(--color-background-container-soft);
    color: var(--color-text);
}

@media (max-width: 720px) {
    .navbar__icon{
        display: block;
        top: 1rem;
        left: 1rem;
        /* position: absolute; */
        z-index: 2;
        color: white;
        font-size: 4rem;
        cursor: pointer;
    }

    .navbar__list--desktop{
        display: none;
    }

    .navbar__list--mobile{
        width: 100%;
        height: 100vh;
        padding: 5rem 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        /* flex-direction: column; */
        /* align-items: center; */
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        /* justify-content: space-between; */
    }

    .navbar__icon--lock{
        display: flex;
        justify-content: flex-end;
        position:fixed;
        right: 0;
        margin-right: 5%;
        z-index: 2;
        margin-top: -2rem;
    }

    .navbar__list--mobile div{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        padding: auto;
        text-align: center;
    }
    .navbar__list--mobile div:nth-child(1) {
        grid-row: 2 / 3;
    }

    button{
        margin: 0 auto;
    }
}