/* CASE STUDY */
.projects__case-study {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem;
}
.projects__case-study__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.2rem;
  border: 1px solid gray;
  border-radius: 2rem;
  flex-wrap: wrap;
}
.projects__case-study__content:nth-child(even) {
  flex-direction: row-reverse;
}
.projects__case-study__image {
  width: 100%;
  max-width: 30rem;
  height: fit-content;
  border-radius: 0.8rem;
  object-fit: cover;
  margin: auto;
}
.projects__case-study__content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}
.projects__case-study__title {
  font-size: 2rem;
  font-weight: bold;
}
.projects__case-study__content p {
  font-size: 1.6rem;
  color: var(--color-text);
}
.projects__case-study__content blockquote{
  font-size: 1.2rem;
  color: #fff;
}

@media (max-width: 768px) {
  .projects__case-study__content {
    flex-direction: column;
  }
  .projects__case-study__content:nth-child(even) {
    flex-direction: column;
  }
}
