.aboutme__photo{
    width: 100%;
    height: 44rem;
    object-fit: cover;
    object-position: top;
}

.title{
    font-size: 2.8rem;
    padding: 0 2rem;
}

.text{
    font-size: 2rem;
    padding: 0 4rem;
}

