.home--container{
    width: 100%;
    display: flex;
}

.home__info{
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20rem;
}

.home__info--description{
    width: 100%;
}

.description{
    font-family: var(--font-text);
    margin: 2.8rem 0.8rem;
    font-size: 3.2rem;
}

.menu{
    display: none;
}

.menuPhone{
    display: none;
}

/* .logo{
    font-size: 6.4rem;
} */


@media (max-width: 425px) {
    .home__info--menu{
        display: none;
    }

    .description{
        font-size: 2rem;
    }

    .aside{
        display: none;
    }

    .menu{
        display: none;
    }

    .language{
        display: none;
    }

    .menuPhone{
        display: initial;
    }
}

@media (min-width: 1024px) {
    .aside{
        display: none;
    }

    .home__info{
        flex-direction: row;
        align-items: last baseline;
        gap: 0;
        justify-content: space-between;
    }

    .home__info--description{
        width: 50%;
    }

    .menu{
        display: initial;
    }
}

/* .container section:nth-child(2n+1){
    background-color: var(--color-background-container-soft);
}

.container section:first-child,
.container section:nth-child(2n){
    background-color: var(--color-background-container);
} */