$color-background-main: #2C3333;
$color-background-secundary: #395B64;
$color-background-container: rgba(0, 0, 0, 0.7);
$color-background-container-soft: rgba(0, 0, 0, 0.4);
$color-background-title: rgb(53, 51, 51);

$color-line: rgb(79, 78, 78);

$color-text: rgb(167, 165, 165);
$color-text-bold: rgb(210, 210, 210);
$color-title: #2a6479;
$font-title: 'Joan', serif;
$font-text: 'Roboto', sans-serif;

.white-content {
    $color-background-main: #2C3333;
    $color-background-secondary: #395B64;
    $color-background-container: rgba(125, 125, 125, 0.7);
    $color-background-container-soft: rgba(125, 125, 125, 0.4);
    $color-background-title: rgb(53, 51, 51);

    $color-line: rgb(79, 78, 78);

    $color-text: rgb(037, 035, 035);
    $color-text-bold: black;
    $color-title: #2a6479;
    $font-title: 'Joan', serif;
    $font-text: 'Roboto', sans-serif;
}