$color-background-main: #2C3333;
$color-background-secundary: #395B64;
$color-box1: rgba(0, 0, 0, 0.75);
$color-box2: rgb(247, 245, 238);
$color-sign: #fff;
$color-title: #2a6479;
$color-text: #fff;
$color-line: rgb(79, 78, 78);
$font-title: 'Joan', serif;
$font-text: 'Roboto', sans-serif;
$color-title-inv: #f3c8b9;

$width-container: 80%;
$min-width-container: 32rem;

// 2C3333
// 395B64
// A5C9CA
// E7F6F2