$color-background: #0c3746;
$color-box1: #201e1c;
$color-box2: rgb(247, 245, 238);
$color-sign: #fff;
$color-title: #2a6479;
$color-text: #fff;
$color-line: rgb(79, 78, 78);
$font-title: 'Joan', serif;
$font-text: 'Roboto', sans-serif;
$color-title-inv: #f3c8b9;