@import './vars';

@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

.container-main{
  width: 100%;
  // min-width: 32rem;
  // max-width: 110rem;
  margin: 0 auto;
  // border: 2.5px solid black;
  // border-bottom: none;
  // box-shadow: 0 0 100px black;
}

.myName{
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 7rem;
  text-align: center;
  color: black;
  text-shadow: 0 0 10px white;
  font-family: 'Rubik Marker Hatch', cursive;

}

.main-title-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 0;
}

.main-title--text{
  width: 80%;
  max-width: 70rem;
  min-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-title--description{
  font-size: 3.5rem;
}

.main-title--photo{
  width: 50%;
  min-width: 31rem;
  max-width: 40rem;
  margin: 0 auto;
}

.main-aboutme-container{
  width: 100%;
  padding: 5rem 0;
}

.main-aboutme-container h2{
  padding: 0 1rem;
}

.main-aboutme--text{
  font-size: 2.3rem;
  margin: 2rem 1.5rem;
  text-align: justify;
  padding: 0 1rem;
}

@media (max-width: 1260px) {
  .main-title--photo{
    margin: 0 auto;
  }
}