@import './vars';

.main-education-container{
    width: 100%;
    background-color: $color-background-container;
    padding: 5rem 1rem;
}

.education-cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5rem auto;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.card-education{
    width: 28rem;
    height: 30rem;
    border: 2px solid $color-line;
    border-radius: 20px;
    background-color: $color-background-container;
    // padding: 1rem;
}

.card-education div{
    width: 100%;
    display: flex;
    background-color: $color-background-title;
    border-radius: 20px 20px 0 0;
    padding: 0.5rem 1rem;
    align-items: center;
}

.education-logo{
    width: 7rem;
    background-color: white;
    border-radius: 50%;
    border: solid 2px $color-line;
}

.card-education h3{
    width: calc(100% - 7rem);
    font-size: 2rem;
    text-align: center;
    margin: 0 1rem;
}

.card-education p{
    width: 100%;
    padding: 1rem;
    color: $color-text;
    font-size: 1.7rem;
    // background-color: $color-background-container;
    // border-radius: 0 0 20px 20px;
}

.education-code-container{
    width: 100%;
    display: flex;
    margin: 2.5rem auto;
    gap: 2rem;
    justify-content: space-around;
    border: solid 2px $color-line;
    padding: 2rem;
    border-radius: 25px;
    flex-wrap: wrap;
}

.education-code{
    width: 3rem;
}

.cronometro{
    background-image: url('@images/Cronometro.png');
}

.batatabit{
    background-image: url('@images/BatataBit.png');
}

.randomdogs{
    background-image: url('@images/RandomDogs.png');
}

.portafolio{
    background-image: url('@images/Portafolio.png');
}