@import './vars';
// @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Joan', serif;
    color: $color-text;
}

body{
  width: 100%;
  // height: 100vh;
  background-color: black;
  background-image: linear-gradient(135deg, $color-background-main,#395B64);
  background-size: 400%;
  animation: bganimation 15s infinite;
  // font-family: 'Aboreto', cursive;
  font-family: 'Raleway', sans-serif;

            
}

a{
  text-decoration: none;
}


h2{
  font-size: 2rem;
  color: $color-text-bold;
}

h3{
  color: $color-text-bold;
}

.background--image{
  width: 100%;
  height: 80vh;
  position: absolute;
  background-image: url('https://i.imgur.com/AlGnoYS.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  border: none;
  opacity: 80%;
  transform: rotate(180deg);
  // style="top: 0vh; transform: rotate(180deg) scaleX(-1);"
}

.background--intersection{
  width: 100%;
  height: 150vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0) 15%, rgba(0, 0, 0, 0.01));
  position: absolute;
  top: 50vh;
  z-index: -1;
}

@keyframes bganimation {
    0%{
      background-position: 0% 50%;
    }
    33%{
      background-position: 50% 100%;
    }
    66%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
}



// @media (max-width: 550px) {
//   .header--nav li{
//     // height: min-content;
//     display: flex;
//     flex-wrap: wrap;
//     // flex-direction: column;
//   }
// }




.main-title-container{
  background-color: $color-background-container;
}

.main-title--text{
  width: 60%;
  max-width: 70rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-title--text p{
  color: $color-text;
}

.main-title--text span{
  color: $color-text-bold;
}

.main-title--description{
  color: $color-text;
}

.main-aboutme-container{
  background-color: $color-background-container;
}