@import './vars';

.header{
    width: $width-container;
    min-width: $min-width-container;
    height: 8vh;
    // padding: 2rem 1rem;
    background-color: $color-box1;
    color: $color-sign;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header--nav{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2.5rem;
    gap: 20px;
}

.header--nav li{
    width: 100%;
    list-style: none;
}

.header--nav li a{
    margin: 0 1rem;
    width: max-content;
    text-decoration: none;
    color: var(--color-sign);
}