:root{
  --color-title: #2a6479;
  --color-text: rgb(167, 165, 165);
  --color-background-container: rgba(0, 0, 0, 0.8);
}

.myName{
  width: 80%;
  min-width: 32rem;

  margin: 0 auto;
  padding: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: var(--color-title);
  background-color: var(--color-background-container);
}

.container-main{
  width: 80%;
  min-width: 32rem;
  margin: 0 auto;
  border-right: 3px solid black;
  border-left: 3px solid black;
  box-shadow: black 50px;

  /* border-top: none; */
}

.main-title-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-background-container);
  padding: 5rem 0;
}

.main-title--text{
  width: 100%;
  max-width: 70rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-title--text p{
  color: var(--color-text);
}

.main-title--text span{
  color: white;
}

.main-title--description{
  color: var(--color-text);
  font-size: 3.5rem;
}

.main-title--photo{
  width: 50%;
  min-width: 31rem;
  max-width: 40rem;
  margin: 0 auto;
}

.main-aboutme-container{
  width: 100%;
  background-color: var(--color-background-container);
  padding: 5rem 1rem;
  /* margin: 5rem auto; */
}

.main-aboutme--text{
  font-size: 2rem;
  margin: 2rem auto;
  text-align: justify;
}