@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-logo: 'Rubik Glitch', cursive;
  --font-text: 'JetBrains Mono', monospace;
  --color-text: #CCCCCC;
  --color-background-container: rgba(0, 0, 0, 0.7);
  --color-button-hover: #395B64;
  --width-container: 90%;
  --max-width-container: 110rem;
  --color-background-title: rgb(53, 51, 51);
  --border-radius: 1rem;
  --transition: 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-text);
  color: var(--color-text);
}

body {
  width: 100%;
  background-color: black;
  background-image: linear-gradient(135deg, #2C3333, #395B64);
  background-size: 400%;
  animation: bgAnimation 15s infinite;
  color: var(--color-text);
}

/* Animación para el fondo */
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Tipografía */
.title {
  text-transform: uppercase;
  font-family: var(--font-logo);
  color: var(--color-text);
  font-size: 2.8rem;
  padding: 0 2.5%;
}

/* Botones */
button {
  width: max-content;
  padding: 0.8rem 1.6rem;
  margin: 0 auto;
  font-size: 2.4rem;
  background-color: #012953;
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--font-text);
  transition: background-color var(--transition);
}

button:hover {
  background-color: var(--color-button-hover);
}

/* Enlaces */
a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  transition: color var(--transition);
}

a:hover {
  color: var(--color-button-hover);
}

/* Iconos */
.icon {
  font-size: 3.6rem;
  color: var(--color-text);
  transition: transform var(--transition);
}

.icon:hover {
  transform: scale(1.1);
}

.text-icon {
  font-size: 2.8rem;
  background-color: var(--color-background-container);
  padding: 0.8rem;
  border-radius: var(--border-radius);
}

/* Contenedores */
.container {
  width: var(--width-container);
  min-width: 32rem;
  max-width: var(--max-width-container);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background__image {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url('https://i.imgur.com/mJqosp9.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  opacity: 0.75;
  transform: rotate(180deg);
}

/* Responsividad */
@media (max-width: 425px) {
  .icon {
    font-size: 2.4rem;
  }

  button {
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
  }

  .text-icon {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .logo-imagen {
    width: 60%;
  }
}

.none{
  display: none;
}

.logo-imagen{
  width: 80%;
  /* height: 20rem; */
}

.logo-imagen2{
  width: 20rem;
  min-width: 20rem;
}

select, input, textarea{
  width: 25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: solid 2px var(--color-text);
    background-color: var(--color-background-container-soft);
    color: var(--color-text);
    font-size: 1.5rem;
    resize: none;
}