/* ========================
🎨 Color Design Tokens
Centraliza colores base para usarlos en distintos temas
======================== */

:root {
  /* === Texto === */
  --color-text-light: #222222;
  --color-text-dark: #CCCCCC;
  --color-text-error: #b22222;
  --color-text-muted: #555;

  /* === Icon === */
  --color-icon-muted: #aaa;

  /* === Fondos === */
  --color-bg-light: #ffffff;
  --color-bg-dark: #121212;
  --color-bg-error-light: #fff0f0;
  --color-bg-error-dark: #3b1e1e50;
  --color-bg-container-light: rgba(240, 240, 240, 0.8);
  --color-bg-container-dark: rgba(0, 0, 0, 0.9);
  --color-bg-title-light: #e0e0e0;
  --color-bg-title-dark: #353333;
  --color-bg-disable: #cccccc;

  /* === Scrollbar === */
  --color-scrollbar-hover-light: black;
  --color-scrollbar-hover-dark: white;
  
  /* === Botones === */
  --color-button-text-light: #2c3e50;
  --color-button-text-dark: #ffffff;
  --color-button-bg-light: #7a9cad;
  --color-button-bg-dark: #334d5a;
  --color-button-hover-light: #5e7f91;
  --color-button-hover-dark: #3f5f73;
  
  /* === Borders === */
  --color-border: #6e6e6e;
  --color-border-error: #791d1d;
  --color-border-focus: #334d5a;
  --color-border-shadow: rgba(0, 112, 243, 0.2);

  /* === Links === */
  --color-link-light: #7a9cad;
  --color-link-dark: #334d5a;
  --color-link-hover-light: #5e7f91;
  --color-link-hover-dark: #3f5f73;

  /* === Favorite === */
  --oscuro: #2c3e50;
  --medio: #334d5a;
  --claro: #395B64;
}
