/* ========================
   🌓 Sistema de Temas: Claro y Oscuro
   ======================== */

/* 🎯 Tema predeterminado según configuración del sistema */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-text: var(--color-text-dark);
    --color-background: var(--color-bg-dark);
    --color-background-container: var(--color-bg-container-dark);
    --color-background-title: var(--color-bg-title-dark);
    --color-button-text: var(--color-button-text-dark);
    --color-button-bg: var(--color-button-bg-dark);
    --color-button-hover: var(--color-button-hover-dark);
    --color-bg-error: var(--color-bg-error-dark);
    --color-link: var(--color-link-dark);
    --color-link-hover: var(--color-link-hover-dark);
    --color-scrollbar-hover: var(--color-scrollbar-hover-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  --color-text: var(--color-text-light);
  --color-background: var(--color-bg-light);
  --color-background-container: var(--color-bg-container-light);
  --color-background-title: var(--color-bg-title-light);
  --color-button-text: var(--color-button-text-light);
  --color-button-bg: var(--color-button-bg-light);
  --color-button-hover: var(--color-button-hover-light);
  --color-bg-error: var(--color-bg-error-light);
  --color-link: var(--color-link-light);
  --color-link-hover: var(--color-link-hover-light);
  --color-scrollbar-hover: var(--color-scrollbar-hover-light);
  }
}

/* 🎛️ Anulación con atributo [data-theme] */
[data-theme="light"] {
  color-scheme: light;
  --color-text: var(--color-text-light);
  --color-background: var(--color-bg-light);
  --color-background-container: var(--color-bg-container-light);
  --color-background-title: var(--color-bg-title-light);
  --color-button-text: var(--color-button-text-light);
  --color-button-bg: var(--color-button-bg-light);
  --color-button-hover: var(--color-button-hover-light);
  --color-bg-error: var(--color-bg-error-light);
  --color-link: var(--color-link-light);
  --color-link-hover: var(--color-link-hover-light);
  --color-scrollbar-hover: var(--color-scrollbar-hover-light);
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-text: var(--color-text-dark);
  --color-background: var(--color-bg-dark);
  --color-background-container: var(--color-bg-container-dark);
  --color-background-title: var(--color-bg-title-dark);
  --color-button-text: var(--color-button-text-dark);
  --color-button-bg: var(--color-button-bg-dark);
  --color-button-hover: var(--color-button-hover-dark);
  --color-bg-error: var(--color-bg-error-dark);
  --color-link: var(--color-link-dark);
  --color-link-hover: var(--color-link-hover-dark);
  --color-scrollbar-hover: var(--color-scrollbar-hover-dark);
}

/* 🌐 Estilo base del <body> */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}
