*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-background: #0c3746;
    --color-box1: #201e1c;
    --color-box2: rgb(247, 245, 238);
    --color-sign: #fff;
    --color-title: #2a6479;
    --color-text: #fff;
    --color-line: rgb(79, 78, 78);
    --font-title: 'Joan', serif;
    --font-text: 'Roboto', sans-serif;
    --color-title-inv: #f3c8b9;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--color-background);
}

.header{
    width: 100%;
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-box1);
    color: var(--color-sign);
    border-bottom: solid 2px var(--color-line);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.container{
    padding: 5% 10%;
}

.main-title-container{
    width: 100%;
    background-color: var(--color-box1);
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
}

.main-title--text{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    margin: 0 auto;
}

h1{
    color: var(--color-title);
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin-top: 1rem;
}

a{
    text-decoration: none;
}

.main-title--profession{
    color: var(--color-text);
    font-size: 4rem;
}

.main-title--name{
    color: var(--color-text);
    font-size: 2rem;
}

.main-title--photo{
    width: 50vh;
    max-width: 500px;
    height: 50vh;
    background-image: url('../assets/image/70118495_10215054757385460_7001894516185628672_n.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 3rem auto;
}

.main-aboutme-container{
    width: 100%;
    background-color: var(--color-box2);
}

.main-aboutme--text{
    font-size: 2rem;
    margin: 2rem auto;
    text-align: justify;
}

.main-projects-container{
    width: 100%;
    /* height: 30rem; */
    /* display: flex; */
}

.main-projects-container h1{
    color: var(--color-title-inv);
    /* padding: 2rem; */
}

.projects-cards-container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 2rem;
}

.project-card{
    width: 25rem;
    height: 30rem;
    background-color: var(--color-box1);
    margin: 3rem auto;
    /* border: solid 2px var(--color-line); */
    position: relative;
    border-radius: 15px;
    scroll-snap-align: center;
}

.project-card--image{
    width: 100%;
    height: 20vh;
    /* position: relative; */
    border-radius: 15px;
    /* background-image: url('../assets/image/ProjectCronometro.png'); */
    background-size: cover;
    background-position: top;
    /* border: solid 2px var(--color-line); */
    /* border: solid 0; */
}

.project-card--title{
    width: 25rem;
    font-size: 2.5rem;
    color: var(--color-text);
    text-align: center;
    background-color: #66808899;
    margin: 2px auto;
    /* position: absolute; */
    /* top: 0; */
    /* text-decoration: none; */
}

.project-card--description{
    width: 100%;
    position: relative;
    color: var(--color-text);
    font-size: 1.8rem;
    margin: 2rem auto;
    text-align: center;
}

.project--code-link{
    width: auto;
    display: flex;
    justify-content: end;
    color: var(--color-text);
    font-size: 1.2rem;
    align-items: center;
    gap: .5rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.code-logo{
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/icons/code.png');
    background-size: contain;
    background-position: center;
}

.main-education-container{
    width: 100%;
    /* height: 30rem; */
    background-color: var(--color-box1);
    /* padding: 2rem; */
}

.education-logos-container,
.education-code-container{
    width: 100%;
    display: flex;
    margin: 2.5rem auto;
    gap: 2rem;
    justify-content: space-around;
}

.education-code-container{
    border: solid 2px var(--color-line);
    padding: 2rem;
    border-radius: 25px;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.education-logo{
    width: 10rem;
    background-color: white;
    border-radius: 25px;
    border: solid 2px var(--color-line);
}

.education-code{
    width: 3rem;
    /* background-color: white; */
}

.footer{
    width: 100%;
    height: fit-content;
    border-top: solid 2px var(--color-line);
    background-color: var(--color-box1);
    /* display: flex; */
    /* justify-content: center; */
}

.footer-container{
    width: 100%;
    max-width: 50rem;
    /* height: fit-content; */
    display: flex;
    margin: 0 auto;
}

.footer-logo{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.5rem auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.linkedin{    
    background-image: url('../assets/icons/LinkedIn.png');
}

.github{
    background-image: url('../assets/icons/GitHub.png');
}

.youtube{
    background-image: url('../assets/icons/youtube.png');
}

.twitter{
    background-image: url('../assets/icons/Twitter.png');
}

.facebook{
    background-image: url('../assets/icons/Facebook.png');
}

.instagram{
    background-image: url('../assets/icons/Instagram.png');
}

.tiktok{
    background-image: url('../assets/icons/TikTok.png');
}

.cronometro{
    background-image: url('../assets/image/Cronometro.png');
}

.batatabit{
    background-image: url('../assets/image/BatataBit.png');
}

.randomdogs{
    background-image: url('../assets/image/RandomDogs.png');
}